# data
data/private/
submit/

# misc
.old/
.comment/
.tmp/
.DS_Store

# code
.debug/
.tags
Rplots.pdf

# tex
*-blx.aux
*-blx.bib
*-converted-to.pdf
*.aux
*.bbl
*.bcf
*.blg
*.brf
*.dvi
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.spl
*.synctex
*.synctex.gz
*.synctex.gz
*.toc

